{% extends "base.html" %}

{% block content %}

<h2 class="page-title">Recent Posts</h2>

{% for post in posts %}
<div class="card">
    <h3 style="margin-bottom: 6px;">{{ post['title'] }}</h3>
    <small>
        by <b>{{ post['username'] }}</b> • {{ post['created'] }}
    </small>
    <p style="margin-top: 10px; line-height: 1.5;">
        {{ post['body'] }}
    </p>
</div>
{% else %}
<div class="card">
    <p>No posts yet. Use <b>New Post</b> to make a post</p>
</div>
{% endfor %}
{% endblock %}